body {
    background-color: #3a3a3a;
    color: aliceblue;
    font-family: Arial;
    margin: 0px;
}

.menu {
    background-color: #252525;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#logo-menu {
    font-weight: bold;
    position: absolute;
    left: 1px;
}

#logo-menu span {
    color: gold;
}

.logo {
    font-weight: bold;
}

.logo span{
    color: gold;
}

.item-menu {
    padding: 20px 10px;
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s ease-in-out;
}

.item-menu:hover {
    color: rgb(156, 156, 156);
}

.header {
    text-align: center;
}

.destaque-logo {
    color: gold;
}

.funcao {
    background-color: rgb(38, 38, 38);
    margin: 10px;
    width: 60%;
    transition: 0.3s ease-in-out;
}

.funcao:hover {
    width: 65%;
    background-color: rgb(29, 29, 29);
    border-radius: 15px;
}

.content-funcao {
    padding: 5px;
}

.botao {
    color: white;
    padding: 7px;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(90deg, orange, red);
}